<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Martin Andrijasevic</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="default.css">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="section" data-component="Section">
      <div class="container" data-component="Container">
        <div class="greeting" data-component="Greeting">
          <h1>Hello, my name is Martin.</h1>
        </div>
        <div class="intro-wrapper" data-component="Intro">
          <div class="nav-wrapper" data-component="Nav">
            <div class="dots-wrapper" data-component="Dots">
              <div id="dot-1" class="browser-dot" data-component="Dot">

              </div>
              <div id="dot-2" class="browser-dot" data-component="Dot">

              </div>
              <div id="dot-3" class="browser-dot" data-component="Dot">

              </div>
            </div>
            <div class="theme-switch-wrapper" data-component="Theme Switcher">
              <label class="theme-switch" for="checkbox" data-component="Theme Switch">
                <input type="checkbox" id="checkbox" />
                <div class="slider round" data-component="Slider"></div>
              </label>
            </div>
          </div>
          <div class="left-column" data-component="Left Column">
            <img id="profile-pic" src="images\light.jpg" alt="photo of me">
          </div>
          <div class="right-column" data-component=" Right Column">
            <div id="preview">
              <h2><span class="highlight" data-component="Highlight">A little bit about me.</span></h2>
              <p>I am a 4th Year student, studying CS @ CarletonU.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="script.js"></script>
</html>
